#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
  background-color: #ECEFF1;
}

#menu__toggle:checked + .menu__btn > span::before,
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
  background-color: #ECEFF1;
}

#menu__toggle:checked ~ .menu__box {
  left: 95% !important;
}

.menu__btn {
  position: fixed;
  top: 2vw;
  right: 1.65vw;
  width: 1.65vw;
  height: 1.65vw;
  cursor: pointer;
  z-index: 3;
}

.menu__text{
  display: none;
  text-decoration: none;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: .2vw;
  background-color: #FE5F55;
  transition-duration: .25s;
}

.menu__btn > span::before {
  content: '';
  top: -0.5vw;
}

.menu__btn > span::after {
  content: '';
  top: 0.5vw;
}

.menu__box {
  display: block;
  position: fixed;
  top: 0vw;
  left: 100%;
  width: 5vw;
  height: 100%;
  margin: 0;
  padding: 3.75vw 0;
  list-style: none;
  background-color: #ECEFF1;
  box-shadow: 0.1vw 0.1vw 0.3vw rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 2;
}

.menu__box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4vw;
  background-color: #FE5F55;
}

#home {
  opacity: 0.8;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  padding: 0;
  margin-top: 0.25vw;
  border-radius: 6px;
}

.menu__item img {
  width: 1.9vw;
  height: 1.9vw;
  display: block;
  pointer-events: none;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

@media (max-width: 800px) {

  /* Hamburger button */
  .menu__btn {
    top: 4.4vw;
    right: 2vw;
    width: 6vw;
    z-index: 1001;
  }

  #menu__toggle:checked + .menu__btn > span {
    background-color: #FE5F55;
  }
  
  #menu__toggle:checked + .menu__btn > span::before,
  #menu__toggle:checked + .menu__btn > span::after {
    background-color: #FE5F55;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    height: 0.8vw;
  }

  .menu__btn > span::before {
    top: -2vw;
  }

  .menu__btn > span::after {
    top: 2vw;
  }

  .menu__box {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100vw;
    height: 100vh;
    background-color:  #ECEFF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    transition: left 0.25s ease;
    z-index: 1000;
  }

  .menu__item {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;     /* keeps icon centered */
    width: 100vw;
    height: 15vw; 
    gap: 2vw; 
    border-radius: 6px;
  }

  .menu__item:hover{
    background-color: #FE5F55;
  }

  .menu__item img {
    width: 10vw;
    height: 10vw;
    margin-right: 50px;
  }

  .menu__text {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 500;
    display: block;
    white-space: nowrap;
    font-variant: all-small-caps;
    text-decoration: none;
    color: #333;
  }

  /* Show fullscreen menu when toggled */
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  /* Remove top colored bar */
  .menu__box::before {
    display: none;
  }
}