@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.slapsPageTitle {
  position: absolute;
  top: 4%;
  left: 2%;
  width: auto;
  font-size: clamp(2.25rem, 1.8494rem + 1.7094vw, 2.875rem);
}

.slapsPageTitle span {
  position: relative;
  color: #FE5F55;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.slappersContainer {
  position: absolute; 
  display: flex; 
  flex-direction: row-reverse; 
  overflow-x: auto; 
  white-space: nowrap; 
  display: inline-block; 
  width: 100vw; 
  height: 100vh; 
  left: 0;
  top: 15%;
  z-index: -1;
}

.slapSongImage {
  height: 12vw;
  width: 12vw;
  min-width: 200px;
  min-height: 200px;
  filter: drop-shadow(0px 8px 3.5px rgba(0, 0, 0, 0.3));
}

.slapperCard {
  height: fit-content;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.slapsRatingsBar {
  position: relative;
  width: 10vw;
  height: 0.45vw;
  background-color: #D3D3D3;
  border-radius: 5px;
  margin: 10% auto;

}

.slapsBar, .slapsFilled {
  border-radius: 5px;
}

.slapsBar {
  background-color: #D3D3D3;
  z-index: 1;
}

.slapsFilled {
  background-color: #FE5F55;
  height: 100%;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.slapsPercentage {
  font-weight: 600;
  font-style: italic;
}

.slapContainerHeader {
  position: relative;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 0;
}

.slapSongTitle {
  font-size: clamp(0.75rem, 0.5096rem + 1.0256vw, 1.125rem);
  filter: drop-shadow(1px 3px 3.5px rgba(0, 0, 0, 0.3));
}

.slapArtistTitle {
  font-size: clamp(0.625rem, 0.3846rem + 1.0256vw, 1rem);
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.3));
}

.slapImage {
  position: relative;
  top: 70px;
  rotate: -35deg;
  height: 60%;
  width: 60%;

}

.slapperSongLink {
  font-size: clamp(0.75rem, 0.5096rem + 1.0256vw, 1.125rem);
  font-weight: bolder;
  margin-top: 50px;
}

.slapperSongLink a:link {
  color: #FE5F55;
  text-decoration: none;
  border: #FE5F55 3px solid;
  border-radius: 5px;
  padding: 4px;
}

.slapperSongLink a:visited {
  color: #FE5F55;
  text-decoration: none;
}

.slapperSongLink a:hover {
  color: #32e063;
  border-color: #32e063;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.slapsSearch {
  position: fixed;
  top: 18%;
  right: 5%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.slapsSearch input {
  background: none;
  border: none;
  outline: none;
  width: 0;
  padding: 0;
  color: #36454F;
  font-size: 16px;
  font-weight: 600;
  transition: width 0.4s ease;
  cursor: pointer;
}

.btn-search {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-search i {
  font-size: 24px;
  color: #FE5F55;
  transition: color 0.3s ease;
}

.slapsSearch input:focus {
  width: 150px;
  cursor: text;
  padding-left: 10px;
}

.slapsSearch input:focus ~ .btn-search i {
  color: #36454F;
}

.noSlapsMessage {
  text-align: center;
  font-size: 1.2rem;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  padding-top: 200px;
  text-transform: capitalize;
}

.noSlapsMessage a {
  color: #0065C7;
  text-decoration: underline;
}

.noResultsMessage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh; /* centers vertically in roughly half the viewport height */
  text-align: center;
  font-size: 1.2rem;
  color: #333; /* adjust to match your theme */
}

@keyframes pulse {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: .8;
  }
}