@import url('https://fonts.googleapis.com/css2?family=Mohave:ital@1&display=swap');

  
.poll-container{
  width: 100%;
  height: fit-content;
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  h1{
    font-size: clamp(2.5rem, 2.1795rem + 1.3675vw, 3rem);
    font-variant: all-small-caps;
    font-style: italic;
  }
}

.mobile-title{
  display: none;
  color: black;
  text-align: center;
  span{
    color: #FE5F55;
    margin: 0 3vw;
    font-size: clamp(1.75rem, 2.1795rem + 1.3675vw, 2.25rem);
  }
}

.desktop-title{
  color: #FE5F55;
}

.poll-middle{
  width: 50%;
}

.songInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: fit-content;
}
  
.albumCover img {
  position: relative;
  width: 100%;
  width: 300px;
  height: auto;
  filter: drop-shadow(0px 8px 3.5px rgba(0, 0, 0, 0.3));
}

.songName{
  position: relative;
  white-space: nowrap;
  font-size: larger ;
  font-variant: all-small-caps;
  font-weight: 600;
  font-style: italic;
  width: 100%;
}

.artistTitle{
  position: relative;
  font-variant: all-small-caps;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
}

.scrapsLogo{
  height: auto;
  width: 50%;
  min-width: 90px;
  transition: 0.3s ease;
}

.scrapsLogo:hover{
  transform: rotate(120deg);
}

.slapsLogo{
  height: auto;
  width: 50%;
  min-width: 75px;
  rotate: 20deg;
  transition: 0.3s ease;
}

.slapsLogo:hover{
  transform: scaleX(-1);
}

.songInfo.swipe-left {
  transform: translateX(-100%);
}

.songInfo.swipe-right {
  transform: translateX(100%);
}

.linkToSong{
  font-weight: bolder;
}

.linkToSong a:link
{
   color: #FE5F55;
   text-decoration: none;
   border: #FE5F55 5px solid;
   border-radius: 10px;
   padding: 8px 10px;
}

.linkToSong a:visited
{
   color: #FE5F55;
   text-decoration: none;
}

.linkToSong a:hover
{
   color: #32e063;
   border-color: #32e063;
   text-decoration: none;
   transition: 0.2s ease;
}

.scrapsButton:hover{
  cursor: pointer;
}

.slapsButton:hover{
  cursor: pointer;
}

.addSongButton {
  position: absolute;
  right: 2vw;
  bottom: 1vw;
  background-color: #45a080;
  color: white;
  border-radius: 50%;
  padding: 0.75vw 1.25vw;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 2vw;
  box-shadow: 6px 0px 6px #cbced1, -6px -6px 6px white;
  transform: rotate(0deg);
  transition: background-color 0.75s ease, transform 0.75s ease;
  transform-origin: center;
}

.addSongButton.active{
  background-color: #FE5F55;
  transform: rotate(45deg);
}

.addSongModal {
  position: fixed;
  bottom: 12%;
  right: 2%;
  display: none;
  width: 300px;
  height: 170px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.submissionMessage{
  position: fixed;
  bottom: 35%;
  right: 3.5%;
  font-size: 1.5em;
  font-weight: 800;
  font-variant: all-small-caps;

}

.addSongModal.visible {
  display: block;
}

.addSongModal.hidden {
  display: none;
}

.pollInput{
  position: absolute;
  outline: none;
  border-color: transparent;
  background: transparent;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  width: 200px;
  height: 20px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  margin-top: 1vw;
}


.formTitle{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-variant: all-small-caps;
  font-size: 150%;
  font-weight: 800;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.15));
  white-space: nowrap;
}

.pollSubmitButton, .closeButton {
  color: white;
  padding: 5px 10px;
  margin-top: 25px;
  background: #FE5F55;
  height: 50px;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 800;
  font-variant: small-caps;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  border-radius: 12px;
  border: 0;
}

.pollSubmitButton:hover, .closeButton:hover {
  box-shadow: none;
}

.pollSubmitButton{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  background-color: #45a080;
}

.pollCompleteText{
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translateX(-50%);
  font-size: 3vw;
  font-variant: small-caps;
  font-weight: 600;
  filter: drop-shadow(2px 6px 2.5px rgba(0, 0, 0, 0.2));
}

#trnt{
  position: absolute;
  margin-left: auto;
  margin-right:auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.trnt_turntable{
  position: relative;
  width:78px;
  margin:auto;
}
.trnt_floor{
  position: absolute;
  top:4px;
  left:5px;
  height:50px;
  width:70px;
  border:1px solid rgb(59, 59, 59);
  background: #5c5c5c;
  filter: drop-shadow(0px 8px 3.5px rgba(0, 0, 0, 0.3));
  
}
.trnt_vinyl{
  background-color: rgb(20, 20, 20);
  border-radius: 30px;
  height:60px;
  width:60px;
  animation-name: trnt_spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.trnt_wheel{
  position: absolute;
  border-radius: 50px;
  border:1px solid rgb(99, 99, 99);
}

.trnt_wheel-1{
  left:4px;
  top:4px;
  height: 50px;
  width: 50px;
}

.trnt_wheel-2{
  left:7px;
  top:7px;
  height: 44px;
  width: 44px;
}

.trnt_wheel-3{
  left:10px;
  top:10px;
  height: 38px;
  width: 38px;
}

.trnt_hole{
  position: absolute;
  top:29px;
  left:29px;
  border-radius: 5px;
  background-color: rgb(20, 20, 20);
  height:2px;
  width:2px;
  z-index:999;
}
.trnt_middle{
  z-index:99;
  position: absolute;
  left:23px;
  top:23px;
  height: 14px;
  width: 14px;
  border-radius: 50px;
  background:#FE5F55;
}

.trnt_cover{
  position: absolute;
  height:57px;
  width: 26px;
  background-color: rgb(20, 20, 20);
  top:2px;
  border-radius: 10px;
  z-index:9;
  left:16px;
}

.trnt_arm{
  position: absolute;
  height:35px;
  width: 0px;
  top:10px;
  z-index:999;
  left:68px;
  opacity: 1;
  border: 1.25px solid rgb(255, 255, 255);
  box-shadow: 1px 0 0px 1px rgba(50, 50, 50, 0.1);
  border-radius: 3px;
  animation-name: trnt_arm-move;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform-origin: top;
}

.trnt_text{
  position: relative;
  top: 0.75vw;
  font-size: 1.5em;
  font-variant: all-small-caps;
}

.skipButton {
  background-color: #fff;
  color: #FE5F54;
  border: 5px solid #FE5F54;
  border-radius: 10px;

  padding: 10px 12px;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s ease, border-color 0.2s ease;
  margin-top: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.skipButton:hover {
  border-color: #32e063;
  color: #32e063;
}

.skipButton:active {
  transform: scale(0.95);
}

@media (max-width: 800px) {

  .poll-left, .poll-right, .poll-middle .desktop-title{
    display: none;
  }

  .poll-middle{
    width: 100%;
  }

  .mobile-title{
    display: block;
    white-space: nowrap;
  }

}

@keyframes trnt_spin {
  from {
  transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}
  
@keyframes trnt_arm-move {
  0%{
  transform:rotate(20deg);
  } 
  80% {
    transform:rotate(40deg);
  }
  90% {
    transform:rotate(40deg);
  }
  100% {
    transform:rotate(20deg);
  }
}

.swipeHint {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  color: #FE5F54;
  animation: pulse 1s infinite;
  pointer-events: none;
  z-index: 2;
}

.swipeHint .hintLabel {
  font-size: 1rem;
  font-variant: small-caps;
}

.swipeHint .hintArrow {
  font-size: 1.5rem;
}

.leftHint {
  left: -39px;
}

.rightHint {
  right: -35px;
}

@keyframes pulse {
  0% { transform: translateY(-50%) scale(1); opacity: 0.9; }
  50% { transform: translateY(-50%) scale(1.1); opacity: 1; }
  100% { transform: translateY(-50%) scale(1); opacity: 0.9; }
}

.albumCover {
  position: relative;
}

@media (min-width: 801px) {
  .swipeHint {
    display: none;
  }
}
