@import url('https://fonts.googleapis.com/css2?family=Mohave:ital@1&display=swap');

body {
  overflow: hidden;
}

.title {
  position: absolute;
  font-size: 40px;
  left: 50%;
  top: -4%;
}

.title span,
.pageTitle span {
  position: relative;
  color: #FE5F55;
  font-size: 56px;
  top: 3px;
  padding: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.semicircle {
  position: absolute;
  left: -40%;
  top: -175px;
  height: 1200px;
  width: 1200px;
  border-radius: 100%;
  background-color: #222222;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 48%;
  left: -4%;
  border-radius: 100%;
  border: 2px solid #f5f5ff;
  background-color: #222222;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.cover img {
  border: 5px solid rgba(245, 245, 255, 0.9);
  border-radius: 50%;
  height: 1050px;
  width: 1050px;
  z-index: 0;
  animation: rotation 28s infinite linear;
}

.info {
  position: absolute;
  margin: auto;
  width: 50%;
  height: 100%;
  left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: -10%;
  font-size: 24px;
  font-variant: all-small-caps;
}

.footer {
  position: absolute;
  white-space: nowrap;
  top: 55%;
  font-size: 24px;
  font-variant: all-small-caps;
  transform: translateY(-50%);
}

.screen {
  position: absolute;
  background-color: #222222;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #222222 solid 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.screenInfo {
  background-color: #f5f5ff;
  height: 150px;
  width: 350px;
  border: white solid 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.songTitleContainer {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.songTitle {
  font-size: 48px;
  padding: 10px 0;
  white-space: nowrap;
  font-variant: all-small-caps;
  font-weight: 600;
  font-style: italic;
}

.artistNameContainer {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

.artistName {
  font-size: 38px;
  padding: 10px 0;
  white-space: nowrap;
  font-variant: all-small-caps;
  font-weight: 600;
  font-style: italic;
}

.songTitle.overflow,
.artistName.overflow {
  animation: marqueeX var(--duration, 15s) linear infinite;
  --width: 100%;
}

.pageTitle {
  position: absolute;
  font-size: 48px;
  top: 5%;
}

.volumeKnobContainer {
  position: absolute;
  top: 64.5%;
  left: 30%;
  transform: translateX(-50%);
}

.volume{
  height: 30%;
  width: 30%;
}

.needleContainer {
  position: absolute;
  top: -12%;
  left: -12%;
  transform: translateX(-50%);
}

.needle {
    transform: rotate(10deg);
    height: 74%;
    width: 74%;
    filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.25));
}

.next {
    position: absolute;
    top: 70%;
    left: 65%;
    height: 6%;
    width: 6%;
    border: #222222 solid 3px;
    border-radius: 5px;
}

.prev {
  position: absolute;
  top: 70%;
  left: 52%;
  height: 6%;
  width: 6%;
  transform: scaleX(-1);
  border: #222222 solid 3px;
  border-radius: 5px;
}

.next:hover,
.prev:hover{
  cursor: pointer;
}

.pulsing-text {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  animation: pulse ease-in-out 2s infinite;
  z-index: 2;
  font-size: 55px;
  color: #FE5F55;
  filter: drop-shadow(10px 10px 2.5px rgba(0, 0, 0, 0.25));
  font-variant: all-small-caps;
  font-weight: 800;
}

.link{
  position: absolute;
  top: 42.5vw;
  left: 63%;
  transform: translateX(-50%);
  font-size: 1.25vw;
  font-weight: bolder;
}

.link a:link
{
   color: #FE5F55;
   text-decoration: none;
   border: #FE5F55 0.25vw solid;
   border-radius: 0.35vw;
   padding: 0.45vw;
}

.link a:visited
{
   color: #FE5F55;
   text-decoration: none;
}

.link a:hover
{
   color: #32e063;
   border-color: #32e063;
   font-size: 1.35vw;
   text-decoration: none;
   transition: 0.4s ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: .8;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes marqueeX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100% - var(--width,0)));
  }
}
