/* Import Mohave font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mohave:ital@1&display=swap');

/* Set body overflow to hidden to prevent scrolling */
body {
  overflow: hidden;
}

/* Title styling */
.title {
  position: absolute;
  font-size: 40px;
  left: 50%;
  top: -4%;
}

.title span {
  position: relative;
  color: #FE5F55;
  font-size: 56px;
  top: 3px;
  padding: 5px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

/* Semicircle styling for circular background */
.semicircle {
  position: absolute;
  left: -40%;
  top: -175px;
  height: 1200px;
  width: 1200px;
  border-radius: 100%;
  background-color: #222222;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Pin styling */
.pin {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 48%;
  left: -4%;
  border-radius: 100%;
  border: 2px solid #f5f5ff;
  background-color: #222222;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

/* Cover image styling */
.cover img {
  border: 5px solid rgba(245, 245, 255, 0.9);
  border-radius: 50%;
  height: 1050px;
  width: 1050px;
  z-index: 0;
  animation: rotation 28s infinite linear;
}

/* Info section styling */
.info {
  position: absolute;
  margin: auto;
  width: 50%;
  height: 100%;
  left: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header styling */
.header {
  position: absolute;
  top: -10%;
  font-size: 24px;
  font-variant: all-small-caps;
}

/* Footer styling */
.footer {
  position: absolute;
  white-space: nowrap;
  top: 55%;
  font-size: 24px;
  font-variant: all-small-caps;
  transform: translateY(-50%);
}

/* Screen container styling */
.screen {
  position: absolute;
  background-color: #222222;
  height: 200px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: #222222 solid 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

/* ScreenInfo container styling */
.screenInfo {
  background-color: #f5f5ff;
  height: 150px;
  width: 350px;
  border: white solid 5px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

/* Song title container styling */
.songTitleContainer {
  position: absolute;
  top: 10%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/* Song title styling with marquee animation */
.songTitle {
  font-size: 48px;
  padding: 10px 0;
  white-space: nowrap;
  font-variant: all-small-caps;
}

/* Artist name container styling */
.artistNameContainer {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
  overflow: hidden;
}

/* Artist name styling with marquee animation */
.artistName {
  font-size: 38px;
  padding: 10px 0;
  white-space: nowrap;
  font-variant: all-small-caps;
}

/* Overflow class for applying marquee animation */
.songTitle.overflow,
.artistName.overflow {
  animation: marqueeX var(--duration, 15s) linear infinite;
  --width: 100%;
}

/* Page title styling */
.pageTitle {
  position: absolute;
  font-size: 48px;
  top: 5%;
}

/* Volume knob container styling */
.volumeKnobContainer {
  position: absolute;
  top: 64.5%;
  left: 30%;
  transform: translateX(-50%);
}

.volume{
  height: 30%;
  width: 30%;
}

/* Needle container styling */
.needleContainer {
  position: absolute;
  top: -12%;
  left: -12%;
  transform: translateX(-50%);
}

/* Needle styling */
.needle {
    transform: rotate(10deg);
    height: 74%;
    width: 74%;
    filter: drop-shadow(10px 10px 8px rgba(0, 0, 0, 0.25));
}

/* Arrow styling */
.next {
    position: absolute;
    top: 70%;
    left: 65%;
    height: 6%;
    width: 6%;
    border: #222222 solid 3px;
    border-radius: 5px;
}

/* Arrow styling */
.prev {
  position: absolute;
  top: 70%;
  left: 52%;
  height: 6%;
  width: 6%;
  transform: scaleX(-1);
  border: #222222 solid 3px;
  border-radius: 5px;
}

.next:hover,
.prev:hover{
  cursor: pointer;
}

/* Pulsing text styling */
.pulsing-text {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  animation: pulse ease-in-out 2s infinite;
  z-index: 2;
  font-size: 55px;
  color: #FE5F55;
  filter: drop-shadow(10px 10px 2.5px rgba(0, 0, 0, 0.25));
  font-variant: all-small-caps;
}

@keyframes pulse {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: .8;
  }
}

/* Rotation animation for cover image */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Marquee animation for song title and artist name */
@keyframes marqueeX {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(calc(-100% - var(--width,0)));
  }
}
