@font-face {
  font-family: 'Digital-7';
  src: url('../../fonts/digital-7/digital-7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home-body {
  height: fit-content;
  min-height: 100vh;
  width: 100vw;
  overflow: auto;
  margin: 0 auto;
  padding: 0;
}

.pageTitle{
  font-size: clamp(1.4rem, -0.1458rem + 4.7778vw, 2.8rem);
}

.pageTitle span {
  position: relative;
  color: #FE5F55;
  font-size: clamp(1.75rem, -0.1458rem + 4.7778vw, 3.1875rem);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  font-variant: small-caps;
}

.left-container {
  position: relative;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.semicircle {
  position: relative;
  height: 40vw;
  min-height: 240px;
  width: 40vw;
  min-width: 240px;
  border-radius: 50%;
  background-color: #222222;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover img {
  position: absolute;
  border-radius: 50%;
  height: 90%;
  width: 90%;
  z-index: 0;
  animation: rotation 28s infinite linear;
  border: 3px solid white;
}

.pin {
  position: absolute;
  height: 2.5vw;
  width: 2.5vw;
  border-radius: 100%;
  border: 2px solid #f5f5ff;
  background-color: #222222;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.needleContainer{
  position: absolute;
  top: 0;
  left: -15%;
  height: 50%;
  width: 50%;
  z-index: 3;
}

.needle{
  height: auto;
  width: 10vw;
  transform: rotate(-5deg) scaleX(-1);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}

.right-container{
  position: absolute;
  top: 0;
  left: 48%;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pulsing-text {
  position: relative;
  color: #FE5F55;
  font-size: clamp(1rem, 0.6795rem + 1.3675vw, 1.5rem);
  animation: pulse 1.5s linear infinite;
}

.screen-box{
  position: relative;
  width: 25vw;
  height: fit-content;
  border: 5px solid #333;
  border-radius: 25px;
  padding: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  background-color: #333;
}

.screen{
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 95%;
  width: 98%;
  border-radius: 10px;
  border: 3px solid #333;
  background-color: white;
  backdrop-filter: blur(10px);
  overflow: hidden;
}

.headerContainer,
.footerContainer {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  align-items: baseline;
  width: auto;
  margin-left: 10px;
}

.songContainer,
.artistContainer {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
  overflow: hidden;
}

.songTitle,
.artistName {
  margin-left: 10px;
  white-space: nowrap;
  font-size: clamp(0.35rem, -0.1458rem + 2.7778vw, 1.75rem);
}

.marquee {
  animation: marqueeX 10s infinite linear;
}

.header,
.footer{
  white-space: nowrap;
  font-size: clamp(0.75rem, -0.1458rem + 2.7778vw, 2.4375rem);
}


.options{
  width: 25vw;
  height: fit-content;
  margin: 0 auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prev, .next{
  height: 4vw;
  min-height: 30px;
  width: auto;
  cursor: pointer;
}

.prev{
  left: 0;
  transform: scaleX(-1);
}

.next{
  right: 0;
}

.link {
  font-size: clamp(0.625rem, 0.5485rem + 0.3265vw, 0.875rem);
  font-weight: bolder;
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
  background-color: #FE5F55;
  color: white;
  text-decoration: none;
  border: #FE5F55 2px solid;
  border-radius: 5px;
  padding: 15px 20px;
  margin: 0 30px;
  white-space: nowrap;
}

.link:hover {
  background-color: #32e063;
  border-color: #32e063;
  transition: all 0.3s ease;
}

@media (max-width: 800px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .left-container{
    position: absolute;
    top: 8%;
    justify-content: center;
    margin-bottom: 20px;
  }

  .left-container, .right-container {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }


  .right-container{
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    justify-content: flex-start;
  }

  .semicircle{
    top: 0;
  }

  .needle{
    width: 20vw;
  }

  .screen-box{
    width: 60vw;
    height: fit-content;
    padding: 12px;
  }

  .headerContainer, .footerContainer{
    letter-spacing: 2px;
  }

  .options{
    width: 75vw;
  }

  .volume{
    top: 10px;
  }
}

@keyframes pulse {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: .8;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes marqueeX {
  0% {
    transform: translateX(100%);
  }
  90% {
    transform: translateX(-105%);
  }
  100% {
    transform: translateX(-105%);
  }
}