@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@1,700&display=swap');

html, body {
  overflow-y: auto !important;
  height: auto !important;
  margin: 0;
}

body {
  text-align: center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      rgba(255, 255, 255, 1) 100%
    ),
    url('./images/texture.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Mohave', sans-serif;
  height: auto;
  background-attachment: fixed; /* optional for parallax-style effect */
}


.siteLogo {
  position: absolute;
  font-size: clamp(1.875rem, 1.0737rem + 3.4188vw, 3.125rem);
  top: -1vw;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.siteLogo span {
  position: relative;
  color: #FE5F55;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}