@import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

.scrapsPageTitle {
  position: absolute;
  top: 4%;
  left: 2%;
  width: auto;
  font-size: clamp(2.25rem, 1.8494rem + 1.7094vw, 2.875rem);
}

.scrapsPageTitle span {
  position: relative;
  color: #FE5F55;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.scrapsContainer {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  overflow-x: auto;
  white-space: nowrap;
  display: inline-block;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 20%;
  z-index: -1;
}

.scrapSongImage {
  height: 12vw;
  width: 12vw;
  min-width: 200px;
  min-height: 200px;
  filter: drop-shadow(0px 8px 3.5px rgba(0, 0, 0, 0.3));
}

.scrapCard {
  height: fit-content;
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.scrapsRatingsBar {
  position: relative;
  width: 10vw;
  height: 0.45vw;
  background-color: #D3D3D3;
  border-radius: 5px;
  margin: 10% auto;
}

.scrapsBar, .scrapsFilled {
  border-radius: 5px;
}

.scrapsBar {
  background-color: #D3D3D3;
  z-index: 1;
}

.scrapsFilled {
  background-color: #FE5F55;
  height: 100%;
  border-radius: 5px;
  width: 0;
  transition: width 0.5s ease-in-out;
}

.scrapsPercentage {
  font-weight: 600;
  font-style: italic;
}

.scrapContainerHeader {
  position: relative;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  margin: 0 auto;
  padding: 0;
}

.scrapSongTitle {
  font-size: clamp(0.75rem, 0.5096rem + 1.0256vw, 1.125rem);
  filter: drop-shadow(1px 3px 3.5px rgba(0, 0, 0, 0.3));
}

.scrapArtistTitle {
  font-size: clamp(0.625rem, 0.3846rem + 1.0256vw, 1rem);
  filter: drop-shadow(1px 3px 2px rgba(0, 0, 0, 0.3));
}

.scrapImage {
  position: relative;
  top: 12px;
  height: 52%;
  width: 52%;
}

.scrapSongLink {
  font-size: clamp(0.75rem, 0.5096rem + 1.0256vw, 1.125rem);
  font-weight: bolder;
  margin-top: 50px;
}

.scrapSongLink a:link {
  color: #FE5F55;
  text-decoration: none;
  border: #FE5F55 3px solid;
  border-radius: 5px;
  padding: 4px;
}

.scrapSongLink a:visited {
  color: #FE5F55;
  text-decoration: none;
}

.scrapSongLink a:hover {
  color: #32e063;
  border-color: #32e063;
  text-decoration: none;
  transition: 0.4s ease-in-out;
}

.scrapsSearch {
  position: fixed;
  top: 15%;
  right: 5%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.scrapsSearch input {
  background: none;
  border: none;
  outline: none;
  width: 0;
  padding: 0;
  color: #36454F;
  font-size: 16px;
  font-weight: 600;
  transition: width 0.4s ease;
  cursor: pointer;
}

.btn-search {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.btn-search i {
  font-size: 24px;
  color: #FE5F55;
  transition: color 0.3s ease;
}

.scrapsSearch input:focus {
  width: 150px;
  cursor: text;
  padding-left: 10px;
}

.scrapsSearch input:focus ~ .btn-search i {
  color: #36454F;
}

@keyframes pulse {
  0% {
    opacity: .8;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: .8;
  }
}